In [1]:
import pandas as pd
cars = pd.read_csv('data/Cars93.csv')
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Manufacturer        93 non-null     object
 1   Model               93 non-null     object
 2   Type                93 non-null     object
 3   Min.Price           93 non-null     float64
 4   Price               93 non-null     float64
 5   Max.Price           93 non-null     float64
 6   MPG.city            93 non-null     int64
 7   MPG.highway         93 non-null     int64
 8   AirBags             93 non-null     object
 9   DriveTrain          93 non-null     object
 10  Cylinders           93 non-null     object
 11  EngineSize          93 non-null     float64
 12  Horsepower          93 non-null     int64
 13  RPM                 93 non-null     int64
 14  Rev.per.mile        93 non-null     int64
 15  Man.trans.avail     93 non-null     object
 16  Fuel.tank.capacity  93 non-null     float64
 17  Passengers          93 non-null     int64
 18  Length              93 non-null     int64
 19  Wheelbase           93 non-null     int64
 20  Width               93 non-null     int64
 21  Turn.circle         93 non-null     int64
 22  Rear.seat.room      91 non-null     float64
 23  Luggage.room        93 non-null     int64
 24  Weight              93 non-null     int64
 25  Origin              93 non-null     object
 26  Make                93 non-null     object
dtypes: float64(6), int64(12), object(9)
memory usage: 19.7+ KB

In [3]:
cars

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,Front,...,5,177,102,68,37,26.5,11,2705,non-USA,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,5,195,115,71,38,30.0,15,3560,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,5,180,102,67,37,28.0,14,3375,non-USA,Audi 90
3,Audi,100,Midsize,30.8,37.7,44.6,19,26,Driver & Passenger,Front,...,6,193,106,70,37,31.0,17,3405,non-USA,Audi 100
4,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,Rear,...,4,186,109,69,39,27.0,13,3640,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17,21,None,Front,...,7,187,115,72,38,34.0,-2147483648,3960,non-USA,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.6,20.0,22.4,21,30,None,Front,...,5,180,103,67,35,31.5,14,2985,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18,25,None,Front,...,4,159,97,66,36,26.0,15,2810,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.8,22.7,23.5,21,28,Driver only,Rear,...,5,190,104,67,37,29.5,14,2985,non-USA,Volvo 240
92,Volvo,850,Midsize,24.8,26.7,28.5,20,28,Driver & Passenger,Front,...,5,184,105,69,38,30.0,15,3245,non-USA,Volvo 850

In [4]:
cars[['EngineSize', 'RPM', 'Weight', "Length"]]

    EngineSize   RPM  Weight  Length
0          1.8  6300    2705     177
1          3.2  5500    3560     195
2          2.8  5500    3375     180
3          2.8  5500    3405     193
4          3.5  5700    3640     186
..         ...   ...     ...     ...
88         2.5  4500    3960     187
89         2.0  5800    2985     180
90         2.8  5800    2810     159
91         2.3  5400    2985     190
92         2.4  6200    3245     184

[93 rows x 4 columns]

In [5]:
cars[['EngineSize', 'RPM', 'Weight', 'Length']].corr()

            EngineSize       RPM    Weight    Length
EngineSize    1.000000 -0.547898  0.845075  0.780283
RPM          -0.547898  1.000000 -0.427931 -0.441249
Weight        0.845075 -0.427931  1.000000  0.806274
Length        0.780283 -0.441249  0.806274  1.000000

In [6]:
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf

model = smf.ols(formula = 'Price ~ EngineSize + RPM + Weight + Length', data = cars)
result = model.fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       0.563
Model:                            OLS   Adj. R-squared:                  0.543
Method:                 Least Squares   F-statistic:                     28.34
Date:                Fri, 25 Mar 2022   Prob (F-statistic):           3.93e-15
Time:                        22:03:48   Log-Likelihood:                -303.89
No. Observations:                  93   AIC:                             617.8
Df Residuals:                      88   BIC:                             630.4
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    -45.4934     14.654     -3.104      0.003     -74.616     -16.371
EngineSize     4.5091      1.381      3.266      0.002       1.765       7.253
RPM            0.0070      0.001      5.139      0.000       0.004       0.010
Weight         0.0079      0.002      3.255      0.002       0.003       0.013
Length        -0.0457      0.083     -0.550      0.584      -0.211       0.120
==============================================================================
Omnibus:                       62.028   Durbin-Watson:                   1.405
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              353.003
Skew:                           2.067   Prob(JB):                     2.22e-77
Kurtosis:                      11.602   Cond. No.                     1.33e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.33e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [7]:
from patsy import dmatrices
from statsmodels.stats.outliers_influence import variance_inflation_factor

Y, X = dmatrices("Price ~ EngineSize + RPM + Weight + Length", data = cars, return_type = 'dataframe')

In [8]:
Y

    Price
0    15.9
1    33.9
2    29.1
3    37.7
4    30.0
..    ...
88   19.7
89   20.0
90   23.3
91   22.7
92   26.7

[93 rows x 1 columns]

In [9]:
X

    Intercept  EngineSize     RPM  Weight  Length
0         1.0         1.8  6300.0  2705.0   177.0
1         1.0         3.2  5500.0  3560.0   195.0
2         1.0         2.8  5500.0  3375.0   180.0
3         1.0         2.8  5500.0  3405.0   193.0
4         1.0         3.5  5700.0  3640.0   186.0
..        ...         ...     ...     ...     ...
88        1.0         2.5  4500.0  3960.0   187.0
89        1.0         2.0  5800.0  2985.0   180.0
90        1.0         2.8  5800.0  2810.0   159.0
91        1.0         2.3  5400.0  2985.0   190.0
92        1.0         2.4  6200.0  3245.0   184.0

[93 rows x 5 columns]

In [11]:
# Length
variance_inflation_factor(X.values, 4)

3.1822925492065646

In [10]:
vif_list = []
for i in range(1, len(X.columns)):
    vif_list.append([variance_inflation_factor(X.values, i), X.columns[i]])
vif_list

[[4.427251654464429, 'EngineSize'],
 [1.4444465912486604, 'RPM'],
 [4.378638493452148, 'Weight'],
 [3.1822925492065646, 'Length']]

In [12]:
pd.DataFrame(vif_list, columns = ['vif', 'variable'])

        vif    variable
0  4.427252  EngineSize
1  1.444447         RPM
2  4.378638      Weight
3  3.182293      Length