## 데이터프레임에 함수 적용하기 
### 행 또는 열 방향으로 주어진 함수를 한 번에 적용 : apply

In [14]:
import pandas as pd
import numpy as np

In [15]:
df_sejong = pd.read_csv('세종시_아파트(전월세)_실거래가.csv',encoding='utf8')
df_sejong

,Unnamed: 0,계약년월,계약일,시군구,본번,부번,단지명,전월세구분,전용면적(㎡),보증금(만원),월세(만원),층,건축년도
0,0,201701,13,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,10000,0,13,2015
1,1,201701,14,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,18000,0,19,2015
2,2,201701,14,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,59.8338,17000,0,10,2015
3,3,201701,15,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,17000,0,2,2015
4,4,201702,4,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),월세,84.9895,10000,30,13,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38890,38890,202011,21,세종특별자치시 해밀동,6402,1,해밀마을 2단지,월세,102.8300,10000,100,5,2020
38891,38891,202012,8,세종특별자치시 해밀동,6402,1,해밀마을 2단지,월세,102.5300,10000,95,14,2020
38892,38892,202012,11,세종특별자치시 해밀동,6402,1,해밀마을 2단지,전세,84.9500,30000,0,18,2020
38893,38893,202012,12,세종특별자치시 해밀동,6402,1,해밀마을 2단지,전세,84.9500,34000,0,18,2020
38894,38894,202012,13,세종특별자치시 해밀동,6402,1,해밀마을 2단지,월세,84.9500,8000,85,16,2020

In [17]:
df_sejong.drop(columns='Unnamed: 0',inplace = True )
df_sejong

KeyError: "['Unnamed: 0'] not found in axis"

In [18]:
df_sejong

,계약년월,계약일,시군구,본번,부번,단지명,전월세구분,전용면적(㎡),보증금(만원),월세(만원),층,건축년도
0,201701,13,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,10000,0,13,2015
1,201701,14,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,18000,0,19,2015
2,201701,14,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,59.8338,17000,0,10,2015
3,201701,15,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,17000,0,2,2015
4,201702,4,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),월세,84.9895,10000,30,13,2015
...,...,...,...,...,...,...,...,...,...,...,...,...
38890,202011,21,세종특별자치시 해밀동,6402,1,해밀마을 2단지,월세,102.8300,10000,100,5,2020
38891,202012,8,세종특별자치시 해밀동,6402,1,해밀마을 2단지,월세,102.5300,10000,95,14,2020
38892,202012,11,세종특별자치시 해밀동,6402,1,해밀마을 2단지,전세,84.9500,30000,0,18,2020
38893,202012,12,세종특별자치시 해밀동,6402,1,해밀마을 2단지,전세,84.9500,34000,0,18,2020
38894,202012,13,세종특별자치시 해밀동,6402,1,해밀마을 2단지,월세,84.9500,8000,85,16,2020

In [21]:
for i in range(len(df_sejong)) : 
    if df_sejong['전용면적(㎡)'][i] > df_sejong['보증금(만원)'][i] : 
        temp = df_sejong['전용면적(㎡)'][i]
    else : 
        temp = df_sejong['보증금(만원)'][i]
    df_sejong['new_columns'][i] = temp

False

In [22]:
df_sejong[['전용면적(㎡)','보증금(만원)']]

        전용면적(㎡)  보증금(만원)
0       84.9895    10000
1       84.9895    18000
2       59.8338    17000
3       84.9895    17000
4       84.9895    10000
...         ...      ...
38890  102.8300    10000
38891  102.5300    10000
38892   84.9500    30000
38893   84.9500    34000
38894   84.9500     8000

[38895 rows x 2 columns]

In [4]:
## 열 방향일때는 그냥 집계함수를 쓰면 되지만 행방향 비교일 때는 apply가 훨씬 편하다 
## 시험장에서 기억이 안나면 그냥 노가다 해라 (빅분기)
## apply 레퍼런스 참고 

df_sejong[['전용면적(㎡)','보증금(만원)']].apply(np.max,axis= 1)

0        10000.0
1        18000.0
2        17000.0
3        17000.0
4        10000.0
          ...
38890    10000.0
38891    10000.0
38892    30000.0
38893    34000.0
38894     8000.0
Length: 38895, dtype: float64

### 데이터 내부 각 요소를 처리하는 함수 만들기 
    data['col_name'] = data['col_name'].map(lambda x:x.func(), na_action = 'ignore') 
    map(lambda)를 사용할 때에는 시리즈 형식이어야 함 . 
    map은 원소 접근이어햐 함 (시리즈)  1:1 매핑  대체 원소 -> 원소.func()  
    lambda는 간단한 함수 개념

In [6]:
df_sejong['시군구'].str.split(" ",expand=True)[1]

0        고운동
1        고운동
2        고운동
3        고운동
4        고운동
        ...
38890    해밀동
38891    해밀동
38892    해밀동
38893    해밀동
38894    해밀동
Name: 1, Length: 38895, dtype: object

In [7]:
df_sejong['시군구'].map(lambda x:x.split(" ")[1])

0        고운동
1        고운동
2        고운동
3        고운동
4        고운동
        ...
38890    해밀동
38891    해밀동
38892    해밀동
38893    해밀동
38894    해밀동
Name: 시군구, Length: 38895, dtype: object

In [8]:
temp_list = [1,2,3,4,5]
list(map(lambda x:x*10,temp_list))

[10, 20, 30, 40, 50]

In [9]:
 df_sejong.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38895 entries, 0 to 38894
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   계약년월     38895 non-null  int64
 1   계약일      38895 non-null  int64
 2   시군구      38895 non-null  object
 3   본번       38895 non-null  object
 4   부번       38895 non-null  int64
 5   단지명      38895 non-null  object
 6   전월세구분    38895 non-null  object
 7   전용면적(㎡)  38895 non-null  float64
 8   보증금(만원)  38895 non-null  int64
 9   월세(만원)   38895 non-null  int64
 10  층        38895 non-null  int64
 11  건축년도     38895 non-null  int64
dtypes: float64(1), int64(7), object(4)
memory usage: 3.6+ MB

In [10]:
df_sejong['temp'] = df_sejong["보증금(만원)"]

In [11]:
df_sejong['temp'] = df_sejong['temp'].astype(str)

In [12]:
df_sejong['temp']

0        10000
1        18000
2        17000
3        17000
4        10000
         ...
38890    10000
38891    10000
38892    30000
38893    34000
38894     8000
Name: temp, Length: 38895, dtype: object