# 1.2 DataFrame 읽기
- df = pd.read_csv(filepath)

- filepath : 파일경로 ('p1/p2/file.csv' 형태)

- %pwd : 경로확인

In [1]:
%pwd

'C:\\Users\\phong\\OneDrive - 흥덕초등학교\\My_GitHub\\Certificate\\(2) 데이터분석 전문가 실기'

In [2]:
import pandas as pd

In [3]:
iris_data = pd.read_csv("2.데이터_핸들링\data\iris.csv")

In [4]:
iris_data

     sepal length  sepal width  petal length  petal width          target
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

# 1.3 DataFrame 저장
df.to_csv(filepath, header=True, index=True, encoding='utf8')

In [5]:
iris_data.to_csv('example.csv', header=True, index=True, encoding='utf-8')

In [6]:
pd.read_csv('example.csv', encoding = 'utf-8')

,Unnamed: 0,sepal length,sepal width,petal length,petal width,target
0,0,5.1,3.5,1.4,0.2,Iris-setosa
1,1,4.9,3.0,1.4,0.2,Iris-setosa
2,2,4.7,3.2,1.3,0.2,Iris-setosa
3,3,4.6,3.1,1.5,0.2,Iris-setosa
4,4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,145,6.7,3.0,5.2,2.3,Iris-virginica
146,146,6.3,2.5,5.0,1.9,Iris-virginica
147,147,6.5,3.0,5.2,2.0,Iris-virginica
148,148,6.2,3.4,5.4,2.3,Iris-virginica
149,149,5.9,3.0,5.1,1.8,Iris-virginica

In [7]:
iris_data.to_csv('example.csv', header=False, index=False, encoding='utf-8')

In [8]:
pd.read_csv('example.csv', encoding = 'utf-8')

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

# 1.4 DataFrame 선언
df = pd.DataFrame(data)

## 1.4.1 Series
- pandas의 기본 객체
- Series는 리스트와 비슷하지만, 인덱스 값을 가지고 있음
- index는 기본적으로 0부터 자동적으로 생성됨

In [9]:
list_1 = [1,1,1,1]
list_1

[1, 1, 1, 1]

In [10]:
# 데이터 프레임 선언
pd.DataFrame(list_1)

   0
0  1
1  1
2  1
3  1

In [11]:
## Series는 리스트와 비슷하지만 인덱스 값을 가지고 있음
Series_1 = pd.Series([1,1,1,1])
Series_1

0    1
1    1
2    1
3    1
dtype: int64

In [12]:
## 인덱스와 같이 선언하기
Series_2 = pd.Series([1,1,1,1], index=['2021-09-15', 2, 'dd',43])
Series_2

2021-09-15    1
2             1
dd            1
43            1
dtype: int64

# 1.5 DataFrame 출력
- df.head(n)
- df.tail(n)

In [13]:
iris_data.tail()

     sepal length  sepal width  petal length  petal width          target
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

# 1.6 DataFrame 요약 / 통계정보 확인
- df.info() : 총 데이터 건수와 데이터타입, Null건수 확인
- df.describe() : 숫자형 컬럼들의 n-percentile 분포도, 평균값, 최댓값, 최솟값 확인
- df['컬럼명'].min() 혹은 df['컬럼명'].max()
    - size : 개수반환
    - shape : 튜플 형태로 shape 반환
    - unique() : 유일한 값만 ndarray로 반환
    - count() : NaN을 제외한 개수를 반환
    - mean() : NaN을 제외한 평균
    - value_counts() : NaN을 제외하고 각 값들의 빈도를 반환

In [14]:
iris_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal length  150 non-null    float64
 1   sepal width   150 non-null    float64
 2   petal length  150 non-null    float64
 3   petal width   150 non-null    float64
 4   target        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [16]:
iris_data.describe() # 연속형 변수들의 값만 집계
# EDA(탐색적 데이터 분석) 라고 해서 시각화만 하는 것은 아니다

       sepal length  sepal width  petal length  petal width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [17]:
iris_data['sepal length'].min()

4.3

In [18]:
iris_data['sepal length'].size

150

In [19]:
iris_data['sepal length'].shape

(150,)

In [20]:
iris_data[['sepal length']].shape # Series

(150, 1)

In [21]:
iris_data['sepal length']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal length, Length: 150, dtype: float64

In [22]:
iris_data[['sepal length']]

     sepal length
0             5.1
1             4.9
2             4.7
3             4.6
4             5.0
..            ...
145           6.7
146           6.3
147           6.5
148           6.2
149           5.9

[150 rows x 1 columns]

In [23]:
iris_data['target'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [25]:
iris_data['target'].count()

150

In [26]:
iris_data['target'].value_counts() # 범주형 변수에서 많이 쓴다

Iris-versicolor    50
Iris-setosa        50
Iris-virginica     50
Name: target, dtype: int64

# 1.7 DataFrame 인덱스 확인, 추가, 리셋
- df.index
- df.set_index(keys, drop=True, append=False, inplace=True)
- df.reset_index(drop=False, inplace=False)

In [27]:
iris_data.index

RangeIndex(start=0, stop=150, step=1)

In [28]:
iris_data

     sepal length  sepal width  petal length  petal width          target
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [29]:
iris_data.set_index('target')

                sepal length  sepal width  petal length  petal width
target
Iris-setosa              5.1          3.5           1.4          0.2
Iris-setosa              4.9          3.0           1.4          0.2
Iris-setosa              4.7          3.2           1.3          0.2
Iris-setosa              4.6          3.1           1.5          0.2
Iris-setosa              5.0          3.6           1.4          0.2
...                      ...          ...           ...          ...
Iris-virginica           6.7          3.0           5.2          2.3
Iris-virginica           6.3          2.5           5.0          1.9
Iris-virginica           6.5          3.0           5.2          2.0
Iris-virginica           6.2          3.4           5.4          2.3
Iris-virginica           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [30]:
iris_data

     sepal length  sepal width  petal length  petal width          target
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [32]:
# 1번쨰 방법
iris_data = iris_data.set_index('target')
# 2번째 방법
# iris_data.set_index('target', inplace=True)

KeyError: "None of ['target'] are in the columns"

In [33]:
iris_data

                sepal length  sepal width  petal length  petal width
target
Iris-setosa              5.1          3.5           1.4          0.2
Iris-setosa              4.9          3.0           1.4          0.2
Iris-setosa              4.7          3.2           1.3          0.2
Iris-setosa              4.6          3.1           1.5          0.2
Iris-setosa              5.0          3.6           1.4          0.2
...                      ...          ...           ...          ...
Iris-virginica           6.7          3.0           5.2          2.3
Iris-virginica           6.3          2.5           5.0          1.9
Iris-virginica           6.5          3.0           5.2          2.0
Iris-virginica           6.2          3.4           5.4          2.3
Iris-virginica           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [34]:
iris_data.reset_index(inplace=True)

In [35]:
iris_data.head()

        target  sepal length  sepal width  petal length  petal width
0  Iris-setosa           5.1          3.5           1.4          0.2
1  Iris-setosa           4.9          3.0           1.4          0.2
2  Iris-setosa           4.7          3.2           1.3          0.2
3  Iris-setosa           4.6          3.1           1.5          0.2
4  Iris-setosa           5.0          3.6           1.4          0.2

# 1.8 DataFrame Value 값 확인

In [37]:
iris_data.values # index와 column을 제외한 값을 ndarray 형태로 반환

array([['Iris-setosa', 5.1, 3.5, 1.4, 0.2],
       ['Iris-setosa', 4.9, 3.0, 1.4, 0.2],
       ['Iris-setosa', 4.7, 3.2, 1.3, 0.2],
       ['Iris-setosa', 4.6, 3.1, 1.5, 0.2],
       ['Iris-setosa', 5.0, 3.6, 1.4, 0.2],
       ['Iris-setosa', 5.4, 3.9, 1.7, 0.4],
       ['Iris-setosa', 4.6, 3.4, 1.4, 0.3],
       ['Iris-setosa', 5.0, 3.4, 1.5, 0.2],
       ['Iris-setosa', 4.4, 2.9, 1.4, 0.2],
       ['Iris-setosa', 4.9, 3.1, 1.5, 0.1],
       ['Iris-setosa', 5.4, 3.7, 1.5, 0.2],
       ['Iris-setosa', 4.8, 3.4, 1.6, 0.2],
       ['Iris-setosa', 4.8, 3.0, 1.4, 0.1],
       ['Iris-setosa', 4.3, 3.0, 1.1, 0.1],
       ['Iris-setosa', 5.8, 4.0, 1.2, 0.2],
       ['Iris-setosa', 5.7, 4.4, 1.5, 0.4],
       ['Iris-setosa', 5.4, 3.9, 1.3, 0.4],
       ['Iris-setosa', 5.1, 3.5, 1.4, 0.3],
       ['Iris-setosa', 5.7, 3.8, 1.7, 0.3],
       ['Iris-setosa', 5.1, 3.8, 1.5, 0.3],
       ['Iris-setosa', 5.4, 3.4, 1.7, 0.2],
       ['Iris-setosa', 5.1, 3.7, 1.5, 0.4],
       ['Iris-setosa', 4.6, 3.6, 1.0, 0.2],
       ['Iris-setosa', 5.1, 3.3, 1.7, 0.5],
       ['Iris-setosa', 4.8, 3.4, 1.9, 0.2],
       ['Iris-setosa', 5.0, 3.0, 1.6, 0.2],
       ['Iris-setosa', 5.0, 3.4, 1.6, 0.4],
       ['Iris-setosa', 5.2, 3.5, 1.5, 0.2],
       ['Iris-setosa', 5.2, 3.4, 1.4, 0.2],
       ['Iris-setosa', 4.7, 3.2, 1.6, 0.2],
       ['Iris-setosa', 4.8, 3.1, 1.6, 0.2],
       ['Iris-setosa', 5.4, 3.4, 1.5, 0.4],
       ['Iris-setosa', 5.2, 4.1, 1.5, 0.1],
       ['Iris-setosa', 5.5, 4.2, 1.4, 0.2],
       ['Iris-setosa', 4.9, 3.1, 1.5, 0.1],
       ['Iris-setosa', 5.0, 3.2, 1.2, 0.2],
       ['Iris-setosa', 5.5, 3.5, 1.3, 0.2],
       ['Iris-setosa', 4.9, 3.1, 1.5, 0.1],
       ['Iris-setosa', 4.4, 3.0, 1.3, 0.2],
       ['Iris-setosa', 5.1, 3.4, 1.5, 0.2],
       ['Iris-setosa', 5.0, 3.5, 1.3, 0.3],
       ['Iris-setosa', 4.5, 2.3, 1.3, 0.3],
       ['Iris-setosa', 4.4, 3.2, 1.3, 0.2],
       ['Iris-setosa', 5.0, 3.5, 1.6, 0.6],
       ['Iris-setosa', 5.1, 3.8, 1.9, 0.4],
       ['Iris-setosa', 4.8, 3.0, 1.4, 0.3],
       ['Iris-setosa', 5.1, 3.8, 1.6, 0.2],
       ['Iris-setosa', 4.6, 3.2, 1.4, 0.2],
       ['Iris-setosa', 5.3, 3.7, 1.5, 0.2],
       ['Iris-setosa', 5.0, 3.3, 1.4, 0.2],
       ['Iris-versicolor', 7.0, 3.2, 4.7, 1.4],
       ['Iris-versicolor', 6.4, 3.2, 4.5, 1.5],
       ['Iris-versicolor', 6.9, 3.1, 4.9, 1.5],
       ['Iris-versicolor', 5.5, 2.3, 4.0, 1.3],
       ['Iris-versicolor', 6.5, 2.8, 4.6, 1.5],
       ['Iris-versicolor', 5.7, 2.8, 4.5, 1.3],
       ['Iris-versicolor', 6.3, 3.3, 4.7, 1.6],
       ['Iris-versicolor', 4.9, 2.4, 3.3, 1.0],
       ['Iris-versicolor', 6.6, 2.9, 4.6, 1.3],
       ['Iris-versicolor', 5.2, 2.7, 3.9, 1.4],
       ['Iris-versicolor', 5.0, 2.0, 3.5, 1.0],
       ['Iris-versicolor', 5.9, 3.0, 4.2, 1.5],
       ['Iris-versicolor', 6.0, 2.2, 4.0, 1.0],
       ['Iris-versicolor', 6.1, 2.9, 4.7, 1.4],
       ['Iris-versicolor', 5.6, 2.9, 3.6, 1.3],
       ['Iris-versicolor', 6.7, 3.1, 4.4, 1.4],
       ['Iris-versicolor', 5.6, 3.0, 4.5, 1.5],
       ['Iris-versicolor', 5.8, 2.7, 4.1, 1.0],
       ['Iris-versicolor', 6.2, 2.2, 4.5, 1.5],
       ['Iris-versicolor', 5.6, 2.5, 3.9, 1.1],
       ['Iris-versicolor', 5.9, 3.2, 4.8, 1.8],
       ['Iris-versicolor', 6.1, 2.8, 4.0, 1.3],
       ['Iris-versicolor', 6.3, 2.5, 4.9, 1.5],
       ['Iris-versicolor', 6.1, 2.8, 4.7, 1.2],
       ['Iris-versicolor', 6.4, 2.9, 4.3, 1.3],
       ['Iris-versicolor', 6.6, 3.0, 4.4, 1.4],
       ['Iris-versicolor', 6.8, 2.8, 4.8, 1.4],
       ['Iris-versicolor', 6.7, 3.0, 5.0, 1.7],
       ['Iris-versicolor', 6.0, 2.9, 4.5, 1.5],
       ['Iris-versicolor', 5.7, 2.6, 3.5, 1.0],
       ['Iris-versicolor', 5.5, 2.4, 3.8, 1.1],
       ['Iris-versicolor', 5.5, 2.4, 3.7, 1.0],
       ['Iris-versicolor', 5.8, 2.7, 3.9, 1.2],
       ['Iris-versicolor', 6.0, 2.7, 5.1, 1.6],
       ['Iris-versicolor', 5.4, 3.0, 4.5, 1.5],
       ['Iris-versicolor', 6.0, 3.4, 4.5, 1.6],
       ['Iris-versicolor', 6.7, 3.1, 4.7, 1.5],
       ['Iris-versicolor', 6.3, 2.3, 4.4, 1.3],
       ['Iris-versicolor', 5.6, 3.0, 4.1, 1.3],
       ['Iris-versicolor', 5.5, 2.5, 4.0, 1.3],
       ['Iris-versicolor', 5.5, 2.6, 4.4, 1.2],
       ['Iris-versicolor', 6.1, 3.0, 4.6, 1.4],
       ['Iris-versicolor', 5.8, 2.6, 4.0, 1.2],
       ['Iris-versicolor', 5.0, 2.3, 3.3, 1.0],
       ['Iris-versicolor', 5.6, 2.7, 4.2, 1.3],
       ['Iris-versicolor', 5.7, 3.0, 4.2, 1.2],
       ['Iris-versicolor', 5.7, 2.9, 4.2, 1.3],
       ['Iris-versicolor', 6.2, 2.9, 4.3, 1.3],
       ['Iris-versicolor', 5.1, 2.5, 3.0, 1.1],
       ['Iris-versicolor', 5.7, 2.8, 4.1, 1.3],
       ['Iris-virginica', 6.3, 3.3, 6.0, 2.5],
       ['Iris-virginica', 5.8, 2.7, 5.1, 1.9],
       ['Iris-virginica', 7.1, 3.0, 5.9, 2.1],
       ['Iris-virginica', 6.3, 2.9, 5.6, 1.8],
       ['Iris-virginica', 6.5, 3.0, 5.8, 2.2],
       ['Iris-virginica', 7.6, 3.0, 6.6, 2.1],
       ['Iris-virginica', 4.9, 2.5, 4.5, 1.7],
       ['Iris-virginica', 7.3, 2.9, 6.3, 1.8],
       ['Iris-virginica', 6.7, 2.5, 5.8, 1.8],
       ['Iris-virginica', 7.2, 3.6, 6.1, 2.5],
       ['Iris-virginica', 6.5, 3.2, 5.1, 2.0],
       ['Iris-virginica', 6.4, 2.7, 5.3, 1.9],
       ['Iris-virginica', 6.8, 3.0, 5.5, 2.1],
       ['Iris-virginica', 5.7, 2.5, 5.0, 2.0],
       ['Iris-virginica', 5.8, 2.8, 5.1, 2.4],
       ['Iris-virginica', 6.4, 3.2, 5.3, 2.3],
       ['Iris-virginica', 6.5, 3.0, 5.5, 1.8],
       ['Iris-virginica', 7.7, 3.8, 6.7, 2.2],
       ['Iris-virginica', 7.7, 2.6, 6.9, 2.3],
       ['Iris-virginica', 6.0, 2.2, 5.0, 1.5],
       ['Iris-virginica', 6.9, 3.2, 5.7, 2.3],
       ['Iris-virginica', 5.6, 2.8, 4.9, 2.0],
       ['Iris-virginica', 7.7, 2.8, 6.7, 2.0],
       ['Iris-virginica', 6.3, 2.7, 4.9, 1.8],
       ['Iris-virginica', 6.7, 3.3, 5.7, 2.1],
       ['Iris-virginica', 7.2, 3.2, 6.0, 1.8],
       ['Iris-virginica', 6.2, 2.8, 4.8, 1.8],
       ['Iris-virginica', 6.1, 3.0, 4.9, 1.8],
       ['Iris-virginica', 6.4, 2.8, 5.6, 2.1],
       ['Iris-virginica', 7.2, 3.0, 5.8, 1.6],
       ['Iris-virginica', 7.4, 2.8, 6.1, 1.9],
       ['Iris-virginica', 7.9, 3.8, 6.4, 2.0],
       ['Iris-virginica', 6.4, 2.8, 5.6, 2.2],
       ['Iris-virginica', 6.3, 2.8, 5.1, 1.5],
       ['Iris-virginica', 6.1, 2.6, 5.6, 1.4],
       ['Iris-virginica', 7.7, 3.0, 6.1, 2.3],
       ['Iris-virginica', 6.3, 3.4, 5.6, 2.4],
       ['Iris-virginica', 6.4, 3.1, 5.5, 1.8],
       ['Iris-virginica', 6.0, 3.0, 4.8, 1.8],
       ['Iris-virginica', 6.9, 3.1, 5.4, 2.1],
       ['Iris-virginica', 6.7, 3.1, 5.6, 2.4],
       ['Iris-virginica', 6.9, 3.1, 5.1, 2.3],
       ['Iris-virginica', 5.8, 2.7, 5.1, 1.9],
       ['Iris-virginica', 6.8, 3.2, 5.9, 2.3],
       ['Iris-virginica', 6.7, 3.3, 5.7, 2.5],
       ['Iris-virginica', 6.7, 3.0, 5.2, 2.3],
       ['Iris-virginica', 6.3, 2.5, 5.0, 1.9],
       ['Iris-virginica', 6.5, 3.0, 5.2, 2.0],
       ['Iris-virginica', 6.2, 3.4, 5.4, 2.3],
       ['Iris-virginica', 5.9, 3.0, 5.1, 1.8]], dtype=object)

In [38]:
iris_data.values[:5]

array([['Iris-setosa', 5.1, 3.5, 1.4, 0.2],
       ['Iris-setosa', 4.9, 3.0, 1.4, 0.2],
       ['Iris-setosa', 4.7, 3.2, 1.3, 0.2],
       ['Iris-setosa', 4.6, 3.1, 1.5, 0.2],
       ['Iris-setosa', 5.0, 3.6, 1.4, 0.2]], dtype=object)

# 1.9 DataFrame 컬럼명 확인, 변경
- df.columns
- df.columns = ['new1', 'new2']
- df.rename({'old1':'new1', 'old2':'new2'}, axis='columns', inplace=True)
- df.columns = df.columns.str.replace('기존문자', '대체할 문자')
- df.drop(['컬럼명'], axis=1, inplace=True)

In [39]:
iris_data.columns

Index(['target', 'sepal length', 'sepal width', 'petal length', 'petal width'], dtype='object')

In [40]:
iris_data.columns = ['a','b','c','d','e']
iris_data.head()

             a    b    c    d    e
0  Iris-setosa  5.1  3.5  1.4  0.2
1  Iris-setosa  4.9  3.0  1.4  0.2
2  Iris-setosa  4.7  3.2  1.3  0.2
3  Iris-setosa  4.6  3.1  1.5  0.2
4  Iris-setosa  5.0  3.6  1.4  0.2

In [44]:
iris_data.columns = ['Target', 'sepal%%length', 'sepal%%width', 'petal%%length', 'Petal%%width']
iris_data.head(1)

        Target  sepal%%length  sepal%%width  petal%%length  Petal%%width
0  Iris-setosa            5.1           3.5            1.4           0.2

In [47]:
iris_data.rename({'Target':'target', 'Petal%%width':'petal_width'}, axis='columns', inplace=True)
iris_data.head(1)

        target  sepal%%length  sepal%%width  petal%%length  petal_width
0  Iris-setosa            5.1           3.5            1.4          0.2

In [48]:
iris_data.columns = iris_data.columns.str.replace('%%', '_') # 컬럼명 특정문자 대체
iris_data.head(1)

        target  sepal_length  sepal_width  petal_length  petal_width
0  Iris-setosa           5.1          3.5           1.4          0.2

# 1.10 DataFrame 컬럼 타입 변경
- df['컬럼명'] = df['컬럼명'].astype('타입') # 컬럼 타입 변경
- df = df.convert_dtypes() # 모든 컬럼에 대해 가능한 가장 적절한 dtypes로 변경

In [49]:
iris_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   target        150 non-null    object
 1   sepal_length  150 non-null    float64
 2   sepal_width   150 non-null    float64
 3   petal_length  150 non-null    float64
 4   petal_width   150 non-null    float64
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [50]:
iris_data['sepal_length'] =iris_data['sepal_length'].astype(int)

In [51]:
iris_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   target        150 non-null    object
 1   sepal_length  150 non-null    int32
 2   sepal_width   150 non-null    float64
 3   petal_length  150 non-null    float64
 4   petal_width   150 non-null    float64
dtypes: float64(3), int32(1), object(1)
memory usage: 5.4+ KB

In [52]:
iris_data

             target  sepal_length  sepal_width  petal_length  petal_width
0       Iris-setosa             5          3.5           1.4          0.2
1       Iris-setosa             4          3.0           1.4          0.2
2       Iris-setosa             4          3.2           1.3          0.2
3       Iris-setosa             4          3.1           1.5          0.2
4       Iris-setosa             5          3.6           1.4          0.2
..              ...           ...          ...           ...          ...
145  Iris-virginica             6          3.0           5.2          2.3
146  Iris-virginica             6          2.5           5.0          1.9
147  Iris-virginica             6          3.0           5.2          2.0
148  Iris-virginica             6          3.4           5.4          2.3
149  Iris-virginica             5          3.0           5.1          1.8

[150 rows x 5 columns]