# 과제 3-1 Groupby & crosstab

## 데이터 : "7.세종시_아파트(전월세)_실거래가.csv"
## 전세의 보증금 평균 값을 구하세요 groupby 사용

In [1]:
import pandas as pd
df = pd.read_csv('../data/7.세종시_아파트(전월세)_실거래가.csv')
df

,Unnamed: 0,계약년월,계약일,시군구,본번,부번,단지명,전월세구분,전용면적(㎡),보증금(만원),월세(만원),층,건축년도
0,0,201701,13,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,10000,0,13,2015
1,1,201701,14,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,18000,0,19,2015
2,2,201701,14,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,59.8338,17000,0,10,2015
3,3,201701,15,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,17000,0,2,2015
4,4,201702,4,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),월세,84.9895,10000,30,13,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38890,38890,202011,21,세종특별자치시 해밀동,6402,1,해밀마을 2단지,월세,102.8300,10000,100,5,2020
38891,38891,202012,8,세종특별자치시 해밀동,6402,1,해밀마을 2단지,월세,102.5300,10000,95,14,2020
38892,38892,202012,11,세종특별자치시 해밀동,6402,1,해밀마을 2단지,전세,84.9500,30000,0,18,2020
38893,38893,202012,12,세종특별자치시 해밀동,6402,1,해밀마을 2단지,전세,84.9500,34000,0,18,2020
38894,38894,202012,13,세종특별자치시 해밀동,6402,1,해밀마을 2단지,월세,84.9500,8000,85,16,2020

In [4]:
df.groupby(['전월세구분'])[['보증금(만원)']].mean()

            보증금(만원)
전월세구분
월세      3514.429264
전세     17329.536254

In [40]:
df.groupby(['전월세구분']).mean()[['보증금(만원)']].loc[['전세']]

            보증금(만원)
전월세구분
전세     17329.536254

In [9]:
df.groupby(['전월세구분'])['보증금(만원)'].mean().values

array([ 3514.42926421, 17329.53625394])

In [12]:
print(df.groupby(['전월세구분'])['보증금(만원)'].mean().values[1])

17329.536253944683

## 세종시 월세 평균 가격을 구하세요

In [13]:
df.groupby(['전월세구분'])[['월세(만원)']].mean()

          월세(만원)
전월세구분
월세     42.001254
전세      0.000000

In [15]:
df.groupby(['전월세구분'])['월세(만원)'].mean().values[0]

42.001254180602004

In [41]:
df.groupby(['전월세구분']).mean()[['월세(만원)']].loc['월세']

월세(만원)    42.001254
Name: 월세, dtype: float64

## 계약년도별, 시군구별 평균 보증금 가격를 구하세요

In [16]:
df.head()

,Unnamed: 0,계약년월,계약일,시군구,본번,부번,단지명,전월세구분,전용면적(㎡),보증금(만원),월세(만원),층,건축년도
0,0,201701,13,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,10000,0,13,2015
1,1,201701,14,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,18000,0,19,2015
2,2,201701,14,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,59.8338,17000,0,10,2015
3,3,201701,15,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,17000,0,2,2015
4,4,201702,4,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),월세,84.9895,10000,30,13,2015

In [17]:
# del df['Unnamed: 0']
df.drop(columns = ['Unnamed: 0'], inplace = True)

In [18]:
df.head()

,계약년월,계약일,시군구,본번,부번,단지명,전월세구분,전용면적(㎡),보증금(만원),월세(만원),층,건축년도
0,201701,13,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,10000,0,13,2015
1,201701,14,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,18000,0,19,2015
2,201701,14,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,59.8338,17000,0,10,2015
3,201701,15,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,17000,0,2,2015
4,201702,4,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),월세,84.9895,10000,30,13,2015

In [21]:
df['계약년월'].astype(str).str[:4]

0        2017
1        2017
2        2017
3        2017
4        2017
         ...
38890    2020
38891    2020
38892    2020
38893    2020
38894    2020
Name: 계약년월, Length: 38895, dtype: object

In [ ]:
df['계약년'] = df['계약년월'].astype(str).str.slice(start=0, stop=4)

In [22]:
df['계약년도'] = df['계약년월'].astype(str).str[:4]

In [23]:
df.head()

,계약년월,계약일,시군구,본번,부번,단지명,전월세구분,전용면적(㎡),보증금(만원),월세(만원),층,건축년도,계약년도
0,201701,13,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,10000,0,13,2015,2017
1,201701,14,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,18000,0,19,2015,2017
2,201701,14,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,59.8338,17000,0,10,2015,2017
3,201701,15,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,17000,0,2,2015,2017
4,201702,4,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),월세,84.9895,10000,30,13,2015,2017

In [24]:
df.groupby(['계약년도', '시군구'])[['보증금(만원)']].mean()

                            보증금(만원)
계약년도 시군구
2017 세종특별자치시 고운동       15983.027397
     세종특별자치시 금남면 용포리    6287.640449
     세종특별자치시 나성동        3277.551020
     세종특별자치시 다정동        6220.833333
     세종특별자치시 대평동        9650.000000
...                             ...
2020 세종특별자치시 조치원읍 죽림리  13480.555556
     세종특별자치시 조치원읍 침산리   9636.144578
     세종특별자치시 종촌동       14617.469504
     세종특별자치시 한솔동       16266.289655
     세종특별자치시 해밀동       23691.919192

[130 rows x 1 columns]

## 계약년도별 전세 건수를 구하세요

In [34]:
df[['계약년도', '전월세구분']]

       계약년도 전월세구분
0      2017    전세
1      2017    전세
2      2017    전세
3      2017    전세
4      2017    월세
...     ...   ...
38890  2020    월세
38891  2020    월세
38892  2020    전세
38893  2020    전세
38894  2020    월세

[38895 rows x 2 columns]

In [38]:
df.loc[df['전월세구분'] == '전세'].groupby(['계약년도']).count()

,계약년월,계약일,시군구,본번,부번,단지명,전월세구분,전용면적(㎡),보증금(만원),월세(만원),층,건축년도
계약년도,,,,,,,,,,,,
2017,6344,6344,6344,6344,6344,6344,6344,6344,6344,6344,6344,6344
2018,5887,5887,5887,5887,5887,5887,5887,5887,5887,5887,5887,5887
2019,7286,7286,7286,7286,7286,7286,7286,7286,7286,7286,7286,7286
2020,7418,7418,7418,7418,7418,7418,7418,7418,7418,7418,7418,7418

In [42]:
pd.crosstab(df['계약년도'], df['전월세구분'])

전월세구분    월세    전세
계약년도
2017   2530  6344
2018   2486  5887
2019   3379  7286
2020   3565  7418

In [33]:
df.groupby(['계약년도']).count()

,계약년월,계약일,시군구,본번,부번,단지명,전월세구분,전용면적(㎡),보증금(만원),월세(만원),층,건축년도
계약년도,,,,,,,,,,,,
2017,8874,8874,8874,8874,8874,8874,8874,8874,8874,8874,8874,8874
2018,8373,8373,8373,8373,8373,8373,8373,8373,8373,8373,8373,8373
2019,10665,10665,10665,10665,10665,10665,10665,10665,10665,10665,10665,10665
2020,10983,10983,10983,10983,10983,10983,10983,10983,10983,10983,10983,10983

## 인덱스에 시군구, 컬럼에는 전월세구분이 있는 도수분포표를 만드세요

In [39]:
pd.crosstab(df['시군구'], df['전월세구분'])

전월세구분               월세    전세
시군구
세종특별자치시 고운동       1176  4325
세종특별자치시 금남면 용포리    105   310
세종특별자치시 나성동        890   636
세종특별자치시 다정동        765  2030
세종특별자치시 대평동        451   434
세종특별자치시 도담동       1288  3467
세종특별자치시 반곡동         45   160
세종특별자치시 보람동        803  1937
세종특별자치시 부강면 부강리     18    39
세종특별자치시 새롬동       1185  2299
세종특별자치시 소담동        222   845
세종특별자치시 소정면 운당리      1     5
세종특별자치시 아름동        743  2692
세종특별자치시 어진동        364   683
세종특별자치시 연동면 명학리     38    90
세종특별자치시 연서면 봉암리     28    47
세종특별자치시 장군면 금암리      0    10
세종특별자치시 전동면 노장리      3     1
세종특별자치시 전의면 동교리     21    23
세종특별자치시 전의면 유천리     15    22
세종특별자치시 조치원읍 교리     16    59
세종특별자치시 조치원읍 남리     13    46
세종특별자치시 조치원읍 번암리   285   147
세종특별자치시 조치원읍 상리     22    28
세종특별자치시 조치원읍 서창리    60     5
세종특별자치시 조치원읍 신안리   145   393
세종특별자치시 조치원읍 신흥리   132   358
세종특별자치시 조치원읍 원리      9     3
세종특별자치시 조치원읍 정리      4     3
세종특별자치시 조치원읍 죽림리   210   652
세종특별자치시 조치원읍 침산리    56   172
세종특별자치시 종촌동       2090  3489
세종특별자치시 한솔동        730  1453
세종특별자치시 해밀동         27    72